<html ng-app="poblacion_mx_App">
<head>
<!-- 
<meta content="text/html; charset=UTF-8; X-Content-Type-Optionas=text/javascript" http-equiv="Content-Type" />
-->
     <!-- Sem UI CDN 2019-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
   
    <script type="text/javascript" src="js/index.js"></script>
<title>KIO API</title>
</head>
<body class="ui active inverted placeholder">
       
        <h1 class="ui block header">
        <a class="ui blue ribbon label">KIO API:</a>
            <small>Version beta</small>
        </h1>
        <h1>Mapa de Rutas API</h1>
        <li><small><a href="http://localhost:3200/perfiles">Perfiles URI (http://localhost:3200/perfiles)</a></small></li>
        <br />
        <li><small><a href="http://localhost:3200/tablaskio">Tablas URI (http://localhost:3200/tablaskio)</a></small></li>
        <br />
        <li><small><a href="http://localhost:3200/getorderbyid/e8fc2f7d-78f4-455f-abd9-b65bb7c2b1b9">GetOrderById (http://localhost:3200/getorderbyid/id)</a></small></li>
        <br />
        <small>
        Get All Orders By User:<br />
        <li><a href="http://localhost:3200/getallordersbyuser/Jesua001">Jesua (http://localhost:3200/getallordersbyuser/Jesua001)</a></li>
        <li><a href="http://localhost:3200/getallordersbyuser/Edgar001">Edgar (http://localhost:3200/getallordersbyuser/Edgar001)</a></li>
        <li><a href="http://localhost:3200/getallordersbyuser/Joshua001">Josue (http://localhost:3200/getallordersbyuser/Joshua001)</a></li>
        <li><a href="http://localhost:3200/getallordersbyuser/Marco001">Marco (http://localhost:3200/getallordersbyuser/Marco001)</a></li>
        </small>
        
        <li><small><a href="http://localhost:3200/getallforecastingresultsbyorderid/e8fc2f7d-78f4-455f-abd9-b65bb7c2b1b9">Get All Forecasting Results By OrderId (http://localhost:3200/getallforecastingresultsbyorderid/orderid)</a></small></li>
        <br />
        <li><small><a href="http://localhost:3200/createneworder">Create New Order (http://localhost:3200/createneworder/)</a></small></li>
        
 </body>
</html>